<%- include('include/_header')%>


 <!-- Main Site -->
 <main id="site-main">
    <div class="row">
        <h3>Kuumaksete kalkulaator</h3>
    </div>
    <div class="row">
        <h5>Teenus:</h5>
    </div>
    <form name="loan" action="/" method="POST">
    <div class="container">
        <div class="bg2">
            <a href="/add">
                <input type="checkbox" name="box" ><p>Päikesepaneelid</p>
            </a>
 
        </div>

        <div class="bg2">
            <a href="/soojuspump">
                <input type="checkbox" name="box"><p>Soojuspump</p>
            </a>   
        </div>

        <div class="bg2">
            <a href="/gaasi">
                <input type="checkbox" name="box"><p>Elektri- ja gaasitööd</p>
            </a>  
        </div>
        <div class="bg2">
            <a href="/off">
                <input type="checkbox" name="box"><p>Võrguvaba elektrijaam Off-grid</p>
            </a>  
        </div>
        <div class="bg2">
            <a href="/laadijad">
                <input type="checkbox" name="box"><p>Elektriauotode laadijad</p>
            </a>  
        </div>  
    </div>
    <hr class="fir"/>
    
    
    <div class="wrapper">
        <div class="column">
            <form action="/" method="POST" id="user">
            <h4>Summa: <span id="demo"> </span> €</h4>
            <div class="slidecontainer">
                <input type="range" min="300" max="25000" step="100" value=""  class="slider" id="amount" name="amount" oninput="sm(),handleValueChange()">
                <label for="amount" class="lb1">300 €</label>
                <label for="amount" class="lb">25000 €</label>
            </div>
           
            <hr class="sec"/> 

            <div class="per">
                
                <label for="select" id="periood">Periood:</label>
                <div class="custom-select">
                    <select id="select" onClick="getPeriod()">
                        <option value="6">6 kuud</option>
                        <option value="7">7 kuud</option>
                        <option value="8">8 kuud</option>
                        <option value="9">9 kuud</option>
                        <option value="10">10 kuud</option>
                        <option value="11">11 kuud</option>
                        <option value="12">12 kuud</option>
                        <option value="13">13 kuud</option>
                        <option value="14">14 kuud</option>
                        <option value="15">15 kuud</option>
                        <option value="16">16 kuud</option>
                        <option value="17">17 kuud</option>
                        <option value="18">18 kuud</option>
                        <option value="19">19 kuud</option>
                        <option value="20">20 kuud</option>
                        <option value="21">21 kuud</option>
                        <option value="22">22 kuud</option>
                        <option value="23">23 kuud</option>
                        <option value="24">24 kuud</option>
                        <option value="25">25 kuud</option>
                        <option value="26">26 kuud</option>
                        <option value="27">27 kuud</option>
                        <option value="28">28 kuud</option>
                        <option value="29">29 kuud</option>
                        <option value="30">30 kuud</option>
                        <option value="31">31 kuud</option>
                        <option value="32">32 kuud</option>
                        <option value="33">33 kuud</option>
                        <option value="34">34 kuud</option>
                        <option value="35">35 kuud</option>
                        <option value="36">36 kuud</option>
                        <option value="37">37 kuud</option>
                        <option value="38">38 kuud</option>
                        <option value="39">39 kuud</option>
                        <option value="40">40 kuud</option>
                        <option value="41">41 kuud</option>
                        <option value="42">42 kuud</option>
                        <option value="43">43 kuud</option>
                        <option value="44">44 kuud</option>
                        <option value="45">45 kuud</option>
                        <option value="46">46 kuud</option>
                        <option value="47">47 kuud</option>
                        <option value="48">48 kuud</option>
                        <option value="49">49 kuud</option>
                        <option value="50">50 kuud</option>
                        <option value="51">51 kuud</option>
                        <option value="52">52 kuud</option>
                        <option value="53">53 kuud</option>
                        <option value="54">54 kuud</option>
                        <option value="55">55 kuud</option>
                        <option value="56">56 kuud</option>
                        <option value="57">57 kuud</option>
                        <option value="58">58 kuud</option>
                        <option value="59">59 kuud</option>
                        <option value="60">60 kuud</option>
                        <option value="61">61 kuud</option>
                        <option value="62">62 kuud</option>
                        <option value="63">63 kuud</option>
                        <option value="64">64 kuud</option>
                        <option value="65">65 kuud</option>
                        <option value="66">66 kuud</option>
                        <option value="67">67 kuud</option>
                        <option value="68">68 kuud</option>
                        <option value="69">69 kuud</option>
                        <option value="70">70 kuud</option>
                        <option value="71">71 kuud</option>
                        <option value="72">72 kuud</option>
                        <option value="73">73 kuud</option>
                        <option value="74">74 kuud</option>
                        <option value="75">75 kuud</option>
                        <option value="76">76 kuud</option>
                        <option value="77">77 kuud</option>
                        <option value="78">78 kuud</option>
                        <option value="79">79 kuud</option>
                        <option value="80">80 kuud</option>
                        <option value="81">81 kuud</option>
                        <option value="82">82 kuud</option>
                        <option value="83">83 kuud</option>
                        <option value="84">84 kuud</option>
                        <option value="85">85 kuud</option>
                        <option value="86">86 kuud</option>
                        <option value="87">87 kuud</option>
                        <option value="88">88 kuud</option>
                        <option value="89">89 kuud</option>
                        <option value="90">90 kuud</option>
                        <option value="91">91 kuud</option>
                        <option value="92">92 kuud</option>
                        <option value="93">93 kuud</option>
                        <option value="94">94 kuud</option>
                        <option value="95">95 kuud</option>
                        <option value="96">96 kuud</option>
                        <option value="97">97 kuud</option>
                        <option value="98">98 kuud</option>
                        <option value="99">99 kuud</option>
                        <option value="100">100 kuud</option>
                        <option value="101">101 kuud</option>
                        <option value="102">102 kuud</option>
                        <option value="103">103 kuud</option>
                        <option value="104">104 kuud</option>
                        <option value="105">105 kuud</option>
                        <option value="106">106 kuud</option>
                        <option value="107">107 kuud</option>
                        <option value="108">108 kuud</option>
                        <option value="109">109 kuud</option>
                        <option value="110">110 kuud</option>
                        <option value="111">111 kuud</option>
                        <option value="112">112 kuud</option>
                        <option value="113">113 kuud</option>
                        <option value="114">114 kuud</option>
                        <option value="115">115 kuud</option>
                        <option value="116">116 kuud</option>
                        <option value="117">117 kuud</option>
                        <option value="118">118 kuud</option>
                        <option value="119">119 kuud</option>
                        <option value="120">120 kuud</option>
                        
                        
                      </select>
                </div>
                
                    <label for="sissemaks" id="sissemaks">Sissemaks (eur):</label>
                    <input  type="number" id="sissemaks" value="" />
                
                    
                
            </div>
        
        </div>


        <div class="column">
            
            <table>
                <tr>
                    <th scope="row">Intress (%)</th>
                    <td id="demo2">7.9  </td>
                </tr>
                <tr>
                    <th scope="row">Lepingutasu (€)</th>
                    <td>50 </td>
                </tr>
                <tr>
                    <th scope="row">Igakuine haldustasu (€)</th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Periood (kuud)</th>
                    <td id="getperiod"> </td>
                </tr>
                <tr>
                    <th scope="row">Projekti maksumus (€)</th>
                    <td id="result"> </td>
                </tr>
                <tr>
                    <th scope="row" id="kuumakse"><b>Kuumakse (€)</b></th>
                    <td id="kuumaksesumma">80.0 </td>
                </tr>

            </table>
        </div>
    </form>
    </div>

    <div class="box">
        <button class="button button4" type="submit">Esitan taotluse <i class="fas fa-chevron-right"></i></button>
    </div>
</form>

</main>

<script>
    function sm(amount){
    var slider = document.getElementById("amount");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
    output.innerHTML = this.value;
}
}

 
    function handleValueChange() {
    var sl = document.getElementById("amount");
    var y = document.getElementById('amount').value;
   
    var z = document.getElementById('result');
  
   
    z.innerHTML = y; 
}

   
    



function getPeriod(){
    var a=document.getElementById('select').value;
    var b=document.getElementById('getperiod');
    b.innerHTML = a;
}

   


</script>


<%- include('include/_footer')%>